.sidebar
  .sidebar__user
    %p.sidebar__user__username k-rysk
    = link_to edit_user_path(current_user.id), class: "sidebar__user__btn-right" do
      %i.fa.fa-cog
    = link_to new_group_path, class: "sidebar__user__btn-left" do
      %i.fa.fa-pencil-square-o

  - groups.each do |group|
    %ul.sidebar__groups-list
      %li.sidebar__group
        #{group.name}
        %p.group-message message1
      %li.sidebar__group
        %p.group-name
        %p.group-name message2
      %li.sidebar__group
        %p.group-name
        %p.group-message message3